th, td { 
    padding: 1rem;
    border-bottom: 1px solid black; 
}

button {
    margin: 1rem;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 1.15rem;
}

button:hover {
    background-color: lightcyan;
}

table {
    margin: 2rem auto;
}

.buttons {
    margin-top: 30px;
}

.counter {
    display: inline;
    border: 1px solid black; 
    padding: 5px 10px;
    font-size: 3.5rem;
}